Repository voxpupuli/puppet-cvmfs, pull requests merged in 2021-03, with the labels that each got.

#118 Convert main config template to epp
  manifests/config.pp
  manifests/domain.pp
  manifests/mount.pp
  spec/classes/init_spec.rb
  spec/defines/mount_spec.rb
  templates/repo.local.epp
  templates/repo.local.erb
Labels: enhancement

#122 Add type enforcement to cvmfs::mount and cvmfs::domain
  .sync.yml
  Gemfile
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/domain.pp
  manifests/fsck.pp
  manifests/id_map.pp
  manifests/init.pp
  manifests/install.pp
  manifests/mount.pp
  manifests/one.pp
  manifests/one/config.pp
  manifests/one/install.pp
  manifests/server.pp
  manifests/server/config.pp
  manifests/server/install.pp
  manifests/server/yum.pp
  manifests/service.pp
  manifests/yum.pp
  manifests/zero.pp
  manifests/zero/install.pp
  manifests/zero/yum.pp
  spec/defines/domain_spec.rb
  spec/defines/mount_spec.rb
Labels: backwards-incompatible

#113 Drop all CvmFS server code
  LICENSE
  README.md
  files/cvmfsr.logrotate
  files/sync-cron.sh
  manifests/init.pp
  manifests/one.pp
  manifests/one/config.pp
  manifests/one/install.pp
  manifests/server.pp
  manifests/server/config.pp
  manifests/server/install.pp
  manifests/server/yum.pp
  manifests/zero.pp
  manifests/zero/config.pp
  manifests/zero/install.pp
  manifests/zero/service.pp
  manifests/zero/yum.pp
  templates/client.conf.erb
  templates/create_script.sh.erb
  templates/cvmfs-strat1-httpd.conf.erb
  templates/genkeys.sh.erb
  templates/server.conf.erb
  templates/zero-httpd.conf.erb
Labels: backwards-incompatible

#123 Remove 'yum' string from class parameters
  data/common.yaml
  data/os/RedHat.yaml
  files/RPM-GPG-KEY-CernVM
  hiera.yaml
  manifests/init.pp
  manifests/install.pp
  manifests/yum.pp
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#125 Add CVMFS_IPFAMILY_PREFER config parameter
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/repo.local.epp
Labels: enhancement

#126 Correct parameter name for default case
  data/common.yaml
Labels: bug

#124 Add ubuntu 18.04, 20.04 and debian 10 support
  .fixtures.yml
  data/os/Debian.yaml
  manifests/apt.pp
  manifests/config.pp
  manifests/install.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#127 cvmfs_external_url parameter to mount fixed
  manifests/mount.pp
  spec/defines/mount_spec.rb
Labels: bug

#128 Update all documentation
  README.md
  REFERENCE.md
  manifests/init.pp
Labels: docs

#129 Release 8.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#130 Correct badge following migration to VoxPup
  README.md
Labels: docs

#132 cvmfspartsize fact return integer rather than string
  .sync.yml
  lib/facter/cvmfspartsize.rb
  spec/spec_helper.rb
  spec/unit/facter/cvmfspartsize_spec.rb
Labels: bug
