Repository voxpupuli/puppet-cvmfs, pull requests merged in 2022-01, with the labels that each got.

#142 Do not run fsck if no mount has occurred
  spec/classes/fsck_spec.rb
  templates/fsck/cvmfs-fsck.service.epp
Labels: bug

#144 rubocop corrections for 1.22.3
  .msync.yml
  .puppet-lint.rc
  Gemfile
  Rakefile
  lib/facter/cvmfspartsize.rb
  spec/acceptance/cvmfs_mount_atlas_repo_spec.rb
  spec/acceptance/cvmfs_mount_cern_domain_spec.rb
  spec/classes/fsck_spec.rb
  spec/classes/init_spec.rb
  spec/defines/domain_spec.rb
  spec/defines/id_map_spec.rb
  spec/defines/mount_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/unit/facter/cvmfspartsize_spec.rb
Labels: enhancement

#145 modulesync 5.1.0
  .puppet-lint.rc
  .sync.yml
  Gemfile
Labels: skip-changelog
