Repository voxpupuli/puppet-cvmfs, pull requests merged in 2023-08, with the labels that each got.

#180 Allow new cvmfs-libs package
  REFERENCE.md
  data/os/RedHat.yaml
  manifests/init.pp
  metadata.json
Labels: bug

#185 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#184 Release 10.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
