Repository voxpupuli/puppet-cvmfs, pull requests merged in 2024-02, with the labels that each got.

#191 Add parameter typing to all classes
  .puppet-lint.rc
  .sync.yml
  manifests/config.pp
  manifests/fsck.pp
  manifests/install.pp
  manifests/service.pp
Labels: enhancement

#177 Support configuration repositories when using mount
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/domain.pp
  manifests/init.pp
  manifests/mount.pp
  spec/defines/mount_spec.rb
Labels: enhancement

#190 Add ownership of cachedir to puppet if claiming ownership
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: bug

#193 Release 10.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
