Repository voxpupuli/puppet-cvmfs, pull requests merged in 2025-08, with the labels that each got.

#214 Drop puppet and openvox 7 support
  metadata.json
Labels: backwards-incompatible

#215 Drop puppet, update openvox minimum version to 8.19
  metadata.json
Labels: backwards-incompatible

#212 add cvmfs-future repository
  REFERENCE.md
  data/family/Debian.yaml
  data/family/RedHat.yaml
  manifests/apt.pp
  manifests/init.pp
  manifests/yum.pp
  spec/classes/init_spec.rb
Labels: enhancement

#217 Release 12.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#222 New enable_prometheus_exporter parameter
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  manifests/service.pp
  spec/acceptance/cvmfs_prom_enable_spec.rb
  spec/classes/init_spec.rb
Labels: enhancement
